@using E_Ticaret_Prjesi_AHMT
@model Cart

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.CartProducts)
                    {
                        ViewBag.ToplamTutar = ViewBag.ToplamTutar + item.Product.Price * @item.ProductCount;
                        <tr>
                            <td class="align-middle"><img src="~/img/@item.Product.Url" alt="" style="width: 50px;">@item.Product.Name</td>
                            <td class="align-middle">@item.Product.Price$</td>
                            <td class="align-middle">

                                <div class="input-group quantity mr-0" style="">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-minus" onclick="location.href='/Home/ShoppingCart/@item.Product.Id/-1'">-</button>
                                    </div>
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" id="Toplam" value="@item.ProductCount">
                                </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-plus" onclick="location.href='/Home/ShoppingCart/@item.Product.Id/1'">+</button>
                                    </div>
                                </div>

                            </td>
                            <td class="align-middle">@(item.Product.Price*item.ProductCount)$</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary" onclick="location.href='/Home/ShoppingCart/@item.Product.Id/Delete'"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">@ViewBag.ToplamTutar$</h5>
                    </div>
                    @if(Model.CartProducts.Count != 0)
                    {
                        <button class="btn btn-block btn-primary my-3 py-3" onclick="location.href='/Home/Checkout'">Proceed To Checkout</button>
                    }
                    else
                    {
                        <button class="btn btn-block btn-primary my-3 py-3" onclick="location.href='/Home/Shop'">Proceed To Checkout</button>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div> 